<section class="hero">
  <div class="fadeInDown">
    <div class="container">
      <div class="title-row">
        <div class="title">SIGN UP</div>
      </div>
      <div class="content">
        <form [formGroup]="signup" (submit)="save()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Firstname</span><span class="text-danger">*</span>
              <input type="text" id="firstName" placeholder="firstname" class="form-control form-control-lg" formControlName="Cust_fname" [ngClass]="{
                'is-invalid':(signup.get('Cust_fname')?.invalid && signup.get('Cust_fname')?.touched)
              }">
              <div *ngIf="signup.get('Cust_fname')?.hasError('required') && signup.get('Cust_fname')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">Enter First Name</div>
            </div>
            <div class="input-box">
              <span class="details">Lastname</span><span class="text-danger">*</span>
              <input type="text" id="lastName" placeholder="lastname" class="form-control form-control-lg" formControlName="Cust_lname" [ngClass]="{
                'is-invalid':(signup.get('Cust_lname')?.invalid && signup.get('Cust_lname')?.touched)
              }">
              <div *ngIf="signup.get('Cust_lname')?.hasError('required') && signup.get('Cust_lname')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">Enter Last Name</div>
            </div>
            <div class="input-box">
              <span class="details">Middlename</span>
              <input type="text" id="middleName" placeholder="middleName (Optional)" class="form-control form-control-lg" formControlName="Cust_mname"/>
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span><span class="text-danger">*</span>
              <input type="tel" id="phoneNumber" placeholder="phone number" class="form-control form-control-lg" formControlName="Cust_phoneno" [ngClass]="{
                'is-invalid':(signup.get('Cust_phoneno')?.invalid && signup.get('Cust_phoneno')?.touched)
              }"/>
              <div *ngIf="signup.get('Cust_phoneno')?.hasError('pattern') && signup.get('Cust_phoneno')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">Enter Valid Phone Number</div>
              <div *ngIf="signup.get('Cust_phoneno')?.hasError('required') && signup.get('Cust_phoneno')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">Enter Phone Number</div>
            </div>
            <!-- <div class="input-box">
              <span class="details">Address</span><span class="text-danger">*</span>
              <input type="text" id="address" placeholder="address" class="form-control form-control-lg" formControlName="Cust_address" [ngClass]="{
                'is-invalid':(signup.get('Cust_address')?.invalid && signup.get('Cust_address')?.touched)
              }"/>
              <div *ngIf="signup.get('Cust_address')?.hasError('required') && signup.get('Cust_address')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">Enter Address</div>
            </div> -->
            <div class="input-box">
              <span class="details">Email</span><span class="text-danger">*</span>
              <input type="email" id="emailAddress" placeholder="email" class="form-control form-control-lg" formControlName="Cust_email" [ngClass]="{
                'is-invalid':(signup.get('Cust_email')?.invalid && signup.get('Cust_email')?.touched)
              }"/>
              <div *ngIf="signup.get('Cust_email')?.hasError('required') && signup.get('Cust_email')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
                Email is required.
              </div>
              <div *ngIf="signup.get('Cust_email')?.hasError('email') && signup.get('Cust_email')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
                Please enter a valid email address. <span class="text-primary">Example: s2k&#64;gmail.com</span>
              </div>
            </div>
           
            <div class="input-box">
              <span class="details">Password</span><span class="text-danger">*</span>
              <input type="password" id="password" placeholder="password" class="form-control form-control-lg" formControlName="Cust_password" [ngClass]="{
                'is-invalid':(signup.get('Cust_password')?.invalid && signup.get('Cust_password')?.touched)
              }"/>
              <div *ngIf="signup.get('Cust_password')?.hasError('required') && signup.get('Cust_password')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
                Password is required.
              </div>
              <div *ngIf="signup.get('Cust_password')?.hasError('minlength') && signup.get('Cust_password')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
                Password length should be 8
              </div>
            </div>
            <div class="input-box">
              <span class="details">Confirm password</span><span class="text-danger">*</span>
              <input type="password" id="passwordConfirm" placeholder="retype password" class="form-control form-control-lg" formControlName="Cust_password_confirmation" [ngClass]="{
                'is-invalid':(signup.get('Cust_password_confirmation')?.invalid && signup.get('Cust_password_confirmation')?.touched)
              }"/>
               <div *ngIf="signup.get('Cust_password')?.value != signup.get('Cust_password_confirmation')?.value && signup.get('Cust_password')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
                Password Does not Match
              </div>
              <div *ngIf="signup.get('Cust_password_confirmation')?.hasError('required') && signup.get('Cust_password_confirmation')?.touched"  style="color: red; font-size: 14px; margin-top: 5px;">
               Confirm Password
              </div>
            </div>
          </div>
          
          <div class="button">
            <input type="submit" value="Register">
          </div>

          <!-- Already have an account link -->
          <div class="already-account d-flex justify-content-center align-items-center text-center">
            Already have an account? 
            <a class="link-danger fw-bold ms-2" [routerLink]="['/login']">Login here</a>
          </div>        
        </form>
      </div>
    </div>
  </div>
  <!-- Animated Laundry Baskets -->
  <img src="assets/basket 3.png" alt="Laundry Basket Left" class="laundry-basket basket-left">
  <img src="assets/basket 4.png" alt="Laundry Basket Right" class="laundry-basket basket-right">
</section>