<section>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"><b>CUSTOMER LOGIN</b></h2>
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <form [formGroup]="loginForm" (submit)="login()">
        <div id="wrong" class="text-center text-danger mx-4 rounded mb-3" style="display: none">
          Either the Username or Password you've entered is incorrect!
        </div>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter Username" formControlName="email" />
        <div id="nousername" class="text-danger mt-2 mb-3" style="display: none"></div>

        <!-- <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" formControlName="password" />
        <div id="nopassword" class="text-danger mt-2 mb-3" style="display: none"></div> -->

        <div style="position: relative; width: 100%">
          <input
            [type]="showPassword ? 'password' : 'text'"
            id="password"
            class="fadeIn third password-input"
            name="password"
            placeholder="Enter Password"
            formControlName="password" 
          />
          <i
            (click)="togglePasswordVisibility()"
            class="fa {{
              showPassword ? 'fa-eye-slash' : 'fa-eye'
            }} password-toggle-icon"
          ></i>
        </div>
        <!-- <input type="submit" class="fadeIn fourth btn" value="Log In" /> -->
        <div class="subLoad">
          <button type="submit" class="fadeIn fourth mt-3 btn btn-primary" [disabled]="!loginForm.valid || load == true" id="btnSub">
              <span *ngIf="!load">Log In</span>
              
              <div class="spinner-border spinner-border-sm" style="color: currentColor;" *ngIf="load">
                  <span class="visually-hidden">Loading...</span>
              </div>
          </button>
        </div>
      </form>

      <!-- Add the "Sign Up" button below -->
      <div class="text-center mt-3">
        <p class="small fw-bold mt-2 pt-1 mb-0 text-dark">Don't have an account? 
          <a class="link-danger" [routerLink]="['/signup']">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Decorative Laundry Baskets -->
  <img src="assets/basket 3.png" alt="Laundry Basket 1" class="laundry-basket basket-left">
  <img src="assets/basket 4.png" alt="Laundry Basket 2" class="laundry-basket basket-right">
</section>
