<div class="card position-sticky top-0 mt-3" [ngClass]="{'disabled-card': !price_exists || paymentexists}">
  <div class="card-body p-3 bg-light bg-opacity-10">
    <form [formGroup]="uploadForm" (submit)="upload()">
      <h6 class="card-title mb-3">UPLOAD PAYMENT</h6>
      
      <!-- File Upload -->
      <div class="mb-3">
        <input 
          type="file" 
          class="form-control" 
          formControlName="uploadpic" 
          (change)="onFileSelected($event)" 
          accept="image/*"
          required>
      </div>
      
      <!-- Image Preview -->
      <div class="image-preview mb-3" *ngIf="imagePreview">
        <img 
          [src]="imagePreview" 
          alt="Image preview" 
          class="preview-image" 
          style="width: 100%; height: auto; border-radius: 8px; object-fit: cover;">
      </div>

      <!-- Mode of Payment -->
      <div class="form-group mb-3">
        <label for="modeOfPayment">Mode of Payment</label>
        <div class="d-flex flex-column flex-sm-row">
          <div class="form-check mr-3">
            <input 
              class="form-check-input" 
              type="radio" 
              formControlName="Mode_of_Payment" 
              value="gcash" 
              id="gcash">
            <label class="form-check-label" for="gcash">Gcash</label>
          </div>
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              formControlName="Mode_of_Payment" 
              value="bpi" 
              id="bpi">
            <label class="form-check-label" for="bpi">BPI</label>
          </div>
        </div>
      </div>

      <!-- Payment Amount -->
      <div class="form-group mb-3">
        <label for="paymentAmount">To Pay</label>
        <input type="number" class="form-control" formControlName="Amount" value="{{payment}}" [hidden]="paymentexists || !price_exists" [disabled]="true">
        <div *ngIf="uploadForm.get('Amount')?.invalid && uploadForm.get('Amount')?.touched" class="text-danger">
          Amount is required and must be a valid number.
        </div>
      </div>

      <!-- Submit and Cancel Buttons -->
      <div class="d-flex flex-column flex-sm-row justify-content-between mt-4">
        <button type="button" class="btn btn-outline-secondary mb-3 mb-sm-0" [disabled]="paymentexists">Cancel</button>
        <button 
          type="submit" 
          class="btn btn-success" 
          [disabled]="uploadForm.invalid || paymentexists || !price_exists">
          Upload
        </button>
      </div>
      <p *ngIf="paymentexists" class="text-success">PAID</p>
      <p *ngIf="!price_exists" class="text-danger">NO PRICE</p>
    </form>
  </div>
</div>
