<div class="">
  <div class="row mb-3 mt-2">
    <div class="col-12">
      <h3 class="text-center styled-heading">
        <i class="fas fa-tshirt laundry-icon"></i> 
        New Transaction
        <i class="fas fa-washing-machine laundry-icon"></i> 
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <ol class="activity-checkout mb-0 px-4 mt-3">
            <form [formGroup]="newtransac" id="manage-laundry">
            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle">
                  <i
                    class="fa fa-file text-o text-white font-size-20"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Tracking number</h5>
                  <h4 class="fw-bold" style="color: #5998e2">
                    {{ trackingNumber }}
                  </h4>
                  <div class="mb-3">
                    <form [formGroup]="laundryForm" (ngSubmit)="addToList()" >
                      <div>
                        <div class="row">
                          <div class="col-lg-4">
                            <label class="form-label" for="laundry-category"
                              >Laundry Type</label
                            >
                            <select
                              class="form-control"
                              id="laundry-category"
                              formControlName="category"
                              (change)="getLaundryPrice($event)"
                              aria-label="Select Laundry Type"
                            >
                              <option value="" selected >Select Laundry Type</option>
                              <option *ngFor="let c of categ" [value]="c.Categ_ID" [disabled]="c.disabled">
                                {{ c.Category }}
                              </option>
                            </select>

                            <div *ngIf="laundryForm.get('category')?.touched && laundryForm.get('category')?.invalid" class="text-danger">
                              <small *ngIf="laundryForm.get('category')?.errors?.['required']">Laundry type is required</small>
                            </div>
                          </div>

                          <div class="col-md" [hidden]="!quantity_counts==true">
                            <div class="mb-3">
                              <label class="form-label" for="quantity"
                                >Quantity/Counts</label
                              >
                              <input
                                type="number"
                                step="1"
                                min="1"
                                class="form-control"
                                id="quantity"
                                formControlName="quantity"
                                placeholder="Enter count"
                                aria-label="Enter count"
                              />
                              <div *ngIf="laundryForm.get('quantity')?.touched && laundryForm.get('quantity')?.invalid" class="text-danger">
                                <small *ngIf="laundryForm.get('quantity')?.errors?.['required']">Quantity is required</small>
                                <small *ngIf="laundryForm.get('quantity')?.errors?.['min']">Quantity must be at least 1</small>
                              </div>
                              <div *ngIf="selectedCategoryMessage" class="alert alert-info">
                                {{ selectedCategoryMessage }}
                              </div>
                            </div>
                          </div>

                          <div
                            class="col-md mb-3"
                            *ngIf="selectedPrice !== undefined"
                          >
                            <label for="price" class="form-label fw-bold"
                              >Laundry Price (Per kg)</label
                            >
                            <p
                              id="price"
                              class="form-control-plaintext mb-0 text-danger fw-bold"
                            >
                              {{
                                selectedPrice
                                  | currency : " " : "symbol" : "1.2-2"
                              }}
                            </p>
                          </div>

                          <div class="col-md">
                            <div class="mb-3">
                              <label class="form-label d-flex" for="add-to-list"
                                >Add to List</label
                              >
                              <button
                                type="submit"
                                class="btn btn-add"
                                id="add_to_list"
                                [disabled]="laundryForm.invalid"
                              >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add to List
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>

                    <div class="mb-3"  [hidden]="showservices==false">
                      <table
                        class="table table-bordered"
                        id="added-laundry-table"
                      >
                        <thead class="text-center table-light">
                          <tr>
                            <th>Category</th>
                            <th>Qty</th>
                            <!-- <th>Kgs</th> -->
                            <th>Estimated <br>Laundry Price</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let l of getUniqueCategories()">
                            <td>{{ l.Category }}</td>
                            <td class="text-center">
                              <ng-container *ngIf="editingItem === l; else viewMode">
                                <input
                                  type="number"
                                  [value]="l.Qty"
                                  class="form-control form-control-sm"
                                  id="Qty"
                                  (change)="saveQty(l,l.Qty)"
                                  min="1"
                                />
                              </ng-container>
                              <ng-template #viewMode>
                                <span class="edit-mode-trigger">
                                  {{ l.Qty }}
                                </span>
                                <i 
                                  class="fa fa-info-circle text-info ms-1"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="left"
                                  [attr.title]="'The minimum weight is 1 kg for ' + l.Category + ' Adjusted to minimum weight.'">
                                </i>
                              </ng-template>                              
                            </td>  
                            <td class="text-right" id="price">
                              {{ l.Price | currency: ' ':'symbol':'1.2-2' }}
                            </td>
                            <td class="text-center">
                              <button
                                class="btn btn-sm btn-outline-primary mx-3"
                                (click)="edit(l)"
                              >
                                <i class="fa" [ngClass]="editingItem === l ? 'fa-check' : 'fa-pencil'"></i>
                              </button>
                              <button
                                class="btn btn-sm btn-outline-danger"
                                (click)="removeFromList(l)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>               
                        </tbody>
                        <tfoot>
                          <tr class="table-light outline">
                            <td colspan="2" class="text-end fw-bold outline">Sub Total</td>
                            <td class="text-end fw-bold">{{calculateSubTotals() | currency: ' ':'symbol':'1.2-2' }}</td>
                          </tr> 
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="checkout-item mx-5 px-5" >
              <div class="avatar checkout-icon p-1" [hidden]="showservices==false">
                <!-- <div class="avatar-title rounded-circle">
                  <i class="fa fa-plus text-white font-size-20" aria-hidden="true"></i>
                </div> -->
              </div>

              <div class="row mb-4">
                <div class="row mb-4 px-3" *ngIf="showservices !== false">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <!-- Label -->
                      <label for="services" class="form-label me-4">Additional Services</label>
                      <!-- Checkboxes in a single line -->
                      <div class="d-flex align-items-center gap-4">
                        <!-- Rush Jobs -->
                        <div class="form-check d-flex align-items-center">
                          <input 
                            class="form-check-input me-2" 
                            type="checkbox" 
                            value="Rush-Job" 
                            (change)="handleServiceSelection($event, selectedAddress)" 
                            id="rush-job-checkbox"
                          />
                          <label class="form-check-label" for="rush-job-checkbox">Rush Jobs</label>
                        </div>
                        <!-- Pick-Up -->
                        <div class="form-check d-flex align-items-center">
                          <input 
                            class="form-check-input me-2" 
                            type="checkbox" 
                            value="PickUp-Service" 
                            (click)="shippingaddress(id.cuid)" 
                            (change)="handleServiceSelection($event, selectedAddress)" 
                            id="pickUp-service-checkbox"
                          />
                          <label class="form-check-label" for="pickUp-service-checkbox">Pick-Up</label>
                        </div>
                        <!-- Delivery -->
                        <div class="form-check d-flex align-items-center">
                          <input 
                            class="form-check-input me-2" 
                            type="checkbox" 
                            value="Delivery-Service" 
                            (click)="deliveryaddress(id.cuid)" 
                            (change)="handleServiceSelection($event, selectedAddress)" 
                            id="delivery-service-checkbox"
                          />
                          <label class="form-check-label" for="delivery-service-checkbox">Delivery</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3" *ngIf="showservices !== false">
                <table
                  class="table table-bordered"
                  id="added-laundry-table"
                >
                  <thead class="text-center table-light">
                    <tr>
                      <th class="text-left">Service</th>
                      <th>Address</th>
                      <th>Price</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of getUniqueAddress()">
                      <td>{{ a.AddService_name }}</td>
                      <td class="text-left">{{ a.address }}</td>
                      <td class="text-right" id="price">
                        {{ a.AddService_price | currency: ' ' : 'symbol' : '1.2-2' }}  
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-sm btn-outline-primary mx-3"
                          (click)="shippingaddress(id.cuid)"
                        >
                          <i class="fa" [ngClass]="editingItem === a ? 'fa-check' : 'fa-pencil'"></i>
                        </button>
                        <button
                          class="btn btn-sm btn-outline-danger"
                          (click)="removeFromList(a)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>                   
                  </tbody>
                  <tfoot>
                    <tr class="table-light outline">
                      <td colspan="2" class="text-end fw-bold outline">Sub Total</td>
                      <td class="text-end fw-bold">{{shippingCharge | currency:' ':'symbol':'1.2-2'}}</td>
                    </tr> 
                  </tfoot>
                </table>
              </div>
              
              <div class="modal fade" id="shipping_address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-size-22 text-underline">
                        <b>Shipping Address</b>
                      </h5>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <button
                          data-bs-toggle="modal"
                          data-bs-target="#editADDRESS"
                          class="btn btn-add"
                          [disabled]="address.length >= 2"
                        >
                          Add New Address
                        </button>
                      </div>
              
                      <div class="row">
                        <div class="col-12 " *ngFor="let c of address; let i = index">
                          <div class="card mb-3" *ngIf="i < 2"> 
                            <div class="card-body d-flex flex-column">
                              <label class="card-radio-label d-flex align-items-center mx-3">
                                <input
                                  type="radio"
                                  name="ShipServ_prices"
                                  id="ShipServ_prices"
                                  class="form-check-input"
                                  (change)="addToTable($event,c)"  
                                />
                              </label>
                                <div class="card-radio text-truncate ">
                                  <span class="fs-14 mb-2 d-block">
                                    {{ c.Cust_fname }} {{ c.Cust_mname }} {{ c.Cust_lname }}
                                  </span>
                                  <span class="text-muted fw-normal text-wrap mb-1 d-block">
                                    {{ c.BuildingUnitStreet_No }}, {{ c.Barangay }}, {{ c.Town_City }}, {{ c.Province }}
                                  </span>
                                  <span class="text-muted fw-normal d-block">{{ c.Phoneno }}</span>
                                </div>
                            
                              <div class="edit-btn text-end mt-2 mt-md-0">
                                <a class="d-inline-block">
                                  <i
                                    class="fa fa-pencil mx-2"
                                    aria-hidden="true"
                                    data-bs-toggle="modal"
                                    data-bs-target="#updateADDRESS"
                                    (click)="openEditModal(c.CustAdd_ID)"
                                  ></i>
                                  <i
                                    class="fa fa-trash"
                                    aria-hidden="true"
                                    (click)="deleteaddress(c.CustAdd_ID)"
                                  ></i>
                                </a>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="delivery_address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-size-22 text-underline">
                        <b>Delivery Address</b>
                      </h5>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <button
                          data-bs-toggle="modal"
                          data-bs-target="#editADDRESS"
                          class="btn btn-add"
                          [disabled]="address.length >= 2"
                        >
                          Add New Address
                        </button>
                      </div>
              
                      <div class="row">
                        <div class="col-12 " *ngFor="let c of address; let i = index">
                          <div class="card mb-3" *ngIf="i < 2">
                            <div class="card-body d-flex flex-column">
                              <label class="card-radio-label d-flex align-items-center mx-3">
                                <input
                                  type="radio"
                                  name="ShipServ_price"
                                  id="ShipServ_price"
                                  class="form-check-input"
                                  (change)="addToTable($event,c)"  
                                />
                              </label>
                                <div class="card-radio text-truncate ">
                                  <span class="fs-14 mb-2 d-block">
                                    {{ c.Cust_fname }} {{ c.Cust_mname }} {{ c.Cust_lname }}
                                  </span>
                                  <span class="text-muted fw-normal text-wrap mb-1 d-block">
                                    {{ c.BuildingUnitStreet_No }}, {{ c.Barangay }}, {{ c.Town_City }}, {{ c.Province }}
                                  </span>
                                  <span class="text-muted fw-normal d-block">{{ c.Phoneno }}</span>
                                </div>
                            
                              <div class="edit-btn text-end mt-2 mt-md-0">
                                <a class="d-inline-block">
                                  <i
                                    class="fa fa-pencil mx-2"
                                    aria-hidden="true"
                                    data-bs-toggle="modal"
                                    data-bs-target="#updateADDRESS"
                                    (click)="openEditModal(c.CustAdd_ID)"
                                  ></i>
                                  <i
                                    class="fa fa-trash"
                                    aria-hidden="true"
                                    (click)="deleteaddress(c.CustAdd_ID)"
                                  ></i>
                                </a>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>
            </form>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card checkout-order-summary">
        <div class="card-body">
          <div class="card-header p-3 mb-3">
            <h5 class="font-size-16 mb-0">
              Laundry Summary
              <span class="float-end ms-2">{{ trackingNumber }}</span>
            </h5>
          </div>
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">
                    <h5 class="font-size-14 m-0">Sub Total :</h5>
                  </td>
                  <td>{{ calculateSubTotal() | currency:' ':'symbol':'1.2-2' }}</td>
                </tr>

                <tr *ngIf="selectedServices.includes('Rush-Job')">
                  <td colspan="3" class="text-muted">
                    <small class="text-success">Rush Job added to the transaction</small>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <h5 class="font-size-14 m-0">Shipping Charge :</h5>
                  </td>
                  <td>{{ shippingCharge | currency:' ':'symbol':'1.2-2' }}</td>
                </tr>
                <tr class="bg-light">
                  <td colspan="2">
                    <h5 class="font-size-14 m-0">Total:</h5>
                  </td>
                  <td>{{ calculateTotal() | currency:' ':'symbol':'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-end mt-4">
            <button type="button" class="btn btn-primary mx-3"  [routerLink]="['/main/cusmainhome/homemain/cuscurtrans']">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary"  (click)="insert()">
              Submit Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editADDRESS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="max-width: 600px;">
          <div class="card-body">
            <form [formGroup]="addaddress" (ngSubmit)="newaddress()">
              <!-- Phone Number and Town/City -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="phoneNumber" class="form-label">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="Phoneno"
                    placeholder="Phone Number"
                  />
                  <small *ngIf="addaddress.get('Phoneno')?.touched && addaddress.get('Phoneno')?.invalid" class="text-danger">
                    Please enter a valid phone number (10-12 digits).
                  </small>
                </div>
            
                <div class="col-md-6">
                  <label for="townCity" class="form-label">Town/City</label>
                  <select
                    class="form-control"
                    id="townCity"
                    formControlName="Town_City"
                    (change)="onTownCityChange()"
                  >
                    <option value="" selected >Select Town/City</option>
                    <option *ngFor="let town of towns" [value]="town">{{ town }}</option>
                  </select>
                  <small *ngIf="addaddress.get('Town_City')?.touched && addaddress.get('Town_City')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
            
              <!-- Barangay and Province -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="barangay" class="form-label">Barangay</label>
                  <select
                    class="form-control"
                    id="barangay"
                    formControlName="Barangay"
                    [attr.disabled]="!addaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" selected>Select Barangay</option>
                    <option *ngFor="let barangaysInSison of barangaysInSison" [value]="barangaysInSison">
                      {{ barangaysInSison }}
                    </option>
                  </select>                
                  <small *ngIf="addaddress.get('Barangay')?.touched && addaddress.get('Barangay')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
            
                <div class="col-md-6">
                  <label for="province" class="form-label">Province</label>
                  <select
                    class="form-control"
                    id="province"
                    formControlName="Province"
                    [attr.disabled]="!addaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" disabled>Select Province</option>
                    <option *ngFor="let province of province" [value]="province">
                      {{ province }}
                    </option>
                  </select>
                  <small *ngIf="addaddress.get('Province')?.touched && addaddress.get('Province')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
            
              <!-- Building/Street -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <label for="buildingNoStreet" class="form-label">Building No./Street</label>
                  <input type="text"  class="form-control" formControlName="BuildingUnitStreet_No"   [attr.disabled]="!addaddress.get('Town_City')?.value ? true : null">
                  <!-- <select
                    class="form-control"
                    id="buildingNoStreet"
                    formControlName="BuildingUnitStreet_No"
                    [attr.disabled]="!addaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" disabled>Select Building No./Street</option>
                    <option *ngFor="let barangaysInPugo of barangaysInPugo" [value]="barangaysInPugo">
                      {{ barangaysInPugo }}
                    </option>
                  </select> -->
                  <small *ngIf="addaddress.get('BuildingUnitStreet_No')?.touched && addaddress.get('BuildingUnitStreet_No')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
            
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Address</button>
              </div>
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateADDRESS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="max-width: 600px;">
          <div class="card-body">
            <form [formGroup]="editaddress" (ngSubmit)="updateAddress()">
              <!-- Phone Number and Town/City -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="phoneNumber" class="form-label">Phone Number</label>
                  <input
                    type="hidden"
                    class="form-control"
                    id="CustAdd_ID"
                    formControlName="CustAdd_ID"
                    placeholder="CustAdd_ID"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="Phoneno"
                    placeholder="Phone Number"
                  />
                  <small *ngIf="editaddress.get('Phoneno')?.touched && editaddress.get('Phoneno')?.invalid" class="text-danger">
                    Please enter a valid phone number (10-12 digits).
                  </small>
                </div>
            
                <div class="col-md-6">
                  <label for="townCity" class="form-label">Town/City</label>
                  <select
                    class="form-control"
                    id="townCity"
                    formControlName="Town_City"
                    (change)="onTownCityChange()"
                  >
                    <option value="" selected >Select Town/City</option>
                    <option *ngFor="let town of towns" [value]="town">{{ town }}</option>
                  </select>
                  <small *ngIf="editaddress.get('Town_City')?.touched && editaddress.get('Town_City')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
            
              <!-- Barangay and Province -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="barangay" class="form-label">Barangay</label>
                  <select
                    class="form-control"
                    id="barangay"
                    formControlName="Barangay"
                    [attr.disabled]="!editaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" selected>Select Barangay</option>
                    <option *ngFor="let barangaysInSison of barangaysInSison" [value]="barangaysInSison">
                      {{ barangaysInSison }}
                    </option>
                  </select>                
                  <small *ngIf="editaddress.get('Barangay')?.touched && editaddress.get('Barangay')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
            
                <div class="col-md-6">
                  <label for="province" class="form-label">Province</label>
                  <select
                    class="form-control"
                    id="province"
                    formControlName="Province"
                    [attr.disabled]="!editaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" disabled>Select Province</option>
                    <option *ngFor="let province of province" [value]="province">
                      {{ province }}
                    </option>
                  </select>
                  <small *ngIf="editaddress.get('Province')?.touched && editaddress.get('Province')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
            
              <!-- Building/Street -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <input type="text" class="form-control" formControlName="BuildingUnitStreet_No"   [attr.disabled]="!addaddress.get('Town_City')?.value ? true : null">
                  <!-- <label for="buildingNoStreet" class="form-label">Building No./Street</label>
                  <select
                    class="form-control"
                    id="buildingNoStreet"
                    formControlName="BuildingUnitStreet_No"
                    [attr.disabled]="!editaddress.get('Town_City')?.value ? true : null"
                  >
                    <option value="" disabled>Select Building No./Street</option>
                    <option *ngFor="let barangaysInPugo of barangaysInPugo" [value]="barangaysInPugo">
                      {{ barangaysInPugo }}
                    </option>
                  </select> -->
                  <small *ngIf="editaddress.get('BuildingUnitStreet_No')?.touched && editaddress.get('BuildingUnitStreet_No')?.invalid" class="text-danger">
                    This field is required.
                  </small>
                </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Address</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>